textarea {
    height: 90%;
}

.box {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand,
h1 {
    font-family: 'Bebas Neue', cursive;
}

.stack {
    display: grid;
    grid-template-columns: 1fr;
}

.stack span {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 3rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) {
    --glitch-translate: 8px;
}

.stack span:nth-child(even) {
    --glitch-translate: -8px;
}

@keyframes stack {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    }

    ;

    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }

    80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }

    100% {
        text-shadow: none;
    }
}

@keyframes glitch {
    0% {
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
    }

    2% {
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }

    4%,
    100% {
        text-shadow: none;
        transform: none;
    }
}

#bs-override .btn-glitch {
    display: block;
    position: relative;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    padding: 8px 30px;
    font-size: 1rem;
    letter-spacing: 0.35em;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 0%;
    transition: all 0.2s ease;
    margin: 0 auto;
    margin-top: 100px;
}
.btn-glitch-encrypt:before, .btn-glitch-encrypt:after {
    content: 'ENCRYPT';
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 0;
    width: 100%;
    -webkit-clip: rect(0px, 0px, 0px, 0px);
    clip: rect(0px, 0px, 0px, 0px);
    background: #fff;
    color: #000;
}
.btn-glitch-decrypt:before, .btn-glitch-decrypt:after {
    content: 'DECRYPT';
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 0;
    width: 100%;
    -webkit-clip: rect(0px, 0px, 0px, 0px);
    clip: rect(0px, 0px, 0px, 0px);
    background: #fff;
    color: #000;
}
.btn-glitch-encrypt-light:before, .btn-glitch-encrypt-light:after {
    content: 'ENCRYPT';
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 0;
    width: 100%;
    -webkit-clip: rect(0px, 0px, 0px, 0px);
    clip: rect(0px, 0px, 0px, 0px);
    background: #000;
    color: #fff;
}
.btn-glitch-decrypt-light:before, .btn-glitch-decrypt-light:after {
    content: 'DECRYPT';
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 0;
    width: 100%;
    -webkit-clip: rect(0px, 0px, 0px, 0px);
    clip: rect(0px, 0px, 0px, 0px);
    background: #000;
    color: #fff;
}
#bs-override .btn-glitch:before {
    left: -3px;
    top: -2px;
    text-shadow: 2px 0 #fff;
    box-shadow: 2px 0 #fff;
}
#bs-override .btn-glitch:after {
    left: 2px;
    bottom: -2px;
    text-shadow: -1px 0 #fff;
    box-shadow: -1px 0 #fff;
}
#bs-override .btn-glitch:hover {
    background: white;
    color: black;
}
#bs-override .btn-glitch:hover:before {
    animation: glitch-test 1.5s infinite linear alternate-reverse;
}
#bs-override .btn-glitch:hover:after {
    animation: glitch-test 2s infinite linear alternate;
}

@keyframes glitch-test {
    0% {
        clip: rect(-3px, 600px, 0px, 0px);
   }
    5.88235% {
        clip: rect(0px, 600px, 0px, 0px);
   }
    11.76471% {
        clip: rect(-3px, 600px, 0px, 0px);
   }
    17.64706% {
        clip: rect(-3px, 600px, 0px, 0px);
   }
    23.52941% {
        clip: rect(100px, 600px, 100px, 0px);
   }
    29.41176% {
        clip: rect(0px, 600px, 600px, 0px);
   }
    35.29412% {
        clip: rect(100px, 600px, 0px, 0px);
   }
    41.17647% {
        clip: rect(0px, 600px, 600px, 0px);
   }
    47.05882% {
        clip: rect(100px, 600px, 0px, 0px);
   }
    52.94118% {
        clip: rect(-3px, 600px, 0px, 0px);
   }
    58.82353% {
        clip: rect(100px, 450px, 100px, 0px);
   }
    64.70588% {
        clip: rect(0px, 450px, 0px, 0px);
   }
    70.58824% {
        clip: rect(100px, 450px, 100px, 0px);
   }
    76.47059% {
        clip: rect(0px, 450px, 0px, 0px);
   }
    82.35294% {
        clip: rect(0px, 450px, 0px, 0px);
   }
    88.23529% {
        clip: rect(0px, 450px, 0px, 0px);
   }
    94.11765% {
        clip: rect(0px, 450px, 0px, 0px);
   }
    100% {
        clip: rect(0px, 450px, 0px, 0px);
   }
}

#copy-button {
    background: white;
    color: #495057;
    border-color: #495057;
}

#copy-button:hover {
    filter: invert(1);
}